@charset "utf-8";

h1 {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;


}

.small {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: black; 
}

.medium {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    background-color: grey; 
}

.large {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    background-color: darkgray; 
}